<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Todo List</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../../app.css" />
</head>

<body>
	<div class="container jumbotron bg-secondary">
		<div th:replace="fragments/navbar"></div>
		<div th:each="todo: ${todos}" class="card  m-2">
			<div class="card-body">
				<div class="card-title" id="">created: <span>1/1/2020</span></div>

				<form class="d-inline" id="task_text" th:action="@{'/completed/{id}' (id=${todo.id})}" th:method="put">
				     
				     <!-- only one button is displayed at a time depending on if the task is completed or not -->
					<button th:class="${!todo.completed} ? 'btn btn-success btn-sm' : 'hide'" type="submit" id="completed"
						th:value="${todo.completed}">In Progress</button>
					<button th:class="${todo.completed} ? 'btn btn-secondary btn-sm text-dark': 'hide'" type="submit" id="completed"
						th:value="${todo.completed}">Completed</button>
				</form>
				<div class="card-text d-inline-block"><span th:class="${todo.completed} ? 'crossout'" 
						th:text="${todo.task}"></span></div>
				<div class="card-footer">
					<a th:href="@{'/edit/{id}' (id=${todo.id})}"><button class="btn btn-dark">Edit</button></a>
					<form class="d-inline" th:action="@{'/delete/{id}' (id=${todo.id})}" th:method="delete">
						<button class="btn btn-default">Delete</button>
					</form>
				</div>
			</div>
		</div>
		
		
	</div>
	<script src="/app.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous">
	</script>
</body>

</html>